#define WIN32_LEAN_AND_MEAN
#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "emil.apps"
            VALUE "FileDescription", "Win32 Resource Extractor"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "extract.exe"
            VALUE "LegalCopyright", "(c) 2025 emil.apps"
            VALUE "OriginalFilename", "extract.exe"
            VALUE "ProductName", "Win32 Resource Extractor"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
